name: Continuous Integration
on: [push]
permissions:
  contents: read
  pull-requests: write
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 20
          - 22
          - 24
    steps:
      - uses: zendesk/checkout@v4
      - uses: zendesk/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - name: install
        run: npm install
      - name: node_js ${{ matrix.version }}
        run: npm test